[submodule "icons/oct"]
	path = icons/oct
	url = https://github.com/primer/octicons/
[submodule "icons/mdi"]
	path = icons/mdi
	url = https://github.com/Templarian/MaterialDesign
[submodule "icons/ti"]
	path = icons/ti
	url = https://github.com/stephenhutchings/typicons.font
[submodule "icons/ion"]
	path = icons/ion
	url = https://github.com/ionic-team/ionicons
